@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
    font-family: 'Open Sans',serif;
}

.main-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
